<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>

  <% if (user) { %>
    <h1>Welcome back, <%= user.profile.name %></h1>
    <% if (user?.profile.avatar) { %>
      <div>
        <img
          src="<%= user.profile.avatar %>"
          alt="<%= user.profile.name %> avatar"
        />
      </div>
    <% } %>
  <% }else { %>
    <h1>Welcome to ClipReel</h1>
    <a href="vods/login">Join Now</a>
    <br>
  <% } %>

  <a href="/vods">
    Explore All VODs
  </a>
  <a href="/vods/new">
    Upload
  </a>
</main>

<%- include('./partials/footer') %>
