<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= vod.link %>?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </h2>
  <h1>
    <%= vod.title %>
  </h1>
  <div>
    Uploaded by <%= vod.owner.name %>
  </div>
  <div>
    <br>
    <%= vod.description %>
  </div>

  <% if (vod.owner.equals(user?.profile._id)) { %>
    <a href="/vods/<%= vod._id %>/edit">
      <button class="btn">Edit VOD</button>
    </a>
  <% } %>
  
  <br>
  <% if (user) { %>
    <form action="/vods/<%= vod._id %>/comments" method="POST" autocomplete="off">
      <label>
        Post a comment:
        <input type="string" name="comment">
        <button type="submit" class="btn">Post</button>
      </form>
    </label>
  <% } %>

  <% if(vod.comments.length == 0){ %>
    <div>
      No Comments yet! Be the first to comment!
    </div>
  <% } else{ %>
    <div>
      Comments
    </div>
    <ul>
      <% vod.comments.forEach(comment => { %>
        <li>
          <div>
            <%= comment.comment %>

            <!-- Below is the framework to add Delete implementation to Comments by the VOD owner -->
            <% if (vod.owner.equals(user?.profile._id)) { %>
              <!-- <form action="/vods/<%# vod._id %>/comments/<%# comment._id %>?_method=DELETE" method="POST">
                <button class="btn" type="submit">X</button>
              </form> -->
            <% } %>
            </div>
        </li>
      <% }) %>
    </ul>
  <% } %>
</main>

<%- include('../partials/footer') %>